﻿body{
    margin:0px;
    padding:0px;
}

.Para1{
    width:300px;
    height:60px;
}

.add{
    width:500px;
    height:150px;
    background-color:pink;
}

.container{
    width:100%;
    height:100%;
}

div,li,span{
    display:block;
}